@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: m;
    src: url();
}
:root{
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: cursive;
    --Verde: #007332;
    --Amarelo: #00000079;
    --Azul: #002575;
    --Branco:#ffffff;
    --brack:#000000;
}

header{
    background-color: var(--Verde);
    padding-top: 20px;
    box-shadow: 0px 0px 10px #00000079;
    
    
}
header h1{
    text-align: center;
    font-family: sans-serif;
    color: white;


}
header img{
    display: block;
    margin: auto;
    height: 100px;
}
header nav{
padding: 15px;
}
header nav a{
    text-decoration:none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;


}
header nav a:hover{
    background-color:rgb(69, 163, 240);
    border-radius: 6px;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.452);
   
}
body{
    background-color: rgb(216, 175, 255);
}
main{
    width: 90vw;
    margin: auto;
    background-color: rgb(165, 255, 173);
    text-indent: 30px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);

}
main img{
    width: 30%;
}
footer{
    text-align: center;
    color: white;
    background-color: rgb(0, 115, 50);
    margin-top: 150px;
    padding: 10px;

}
footer p{
    font-weight: bold;
    

}
   

